<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DATA ROUTE</title>
    <link rel="icon" href="/images/favicon.ico" media="screen" title="no title">
    <link rel="stylesheet" href="/css/data.css">
  </head>
  <body>
    <div id="results">
      <p id="percent-chance"> <%= chanceLabel %> </p>
      <img id="icon-chance" src="<%= imgSrc %>" alt="Loading your sunset forecast"/>
      <form id="home-form" action="/users/profile" method="GET">
        <input id="home-button"type="submit" name="" value="Home">
      </form>
    </div>

    <div id="data-buttons">
      <div class="card">
        <form action="/data/openweather" method="get">
          <input type="submit" id="openweather" value="">
        </form>
      </div>
      <div class="card">
        <form action="/data/sunsetwx" method="get">
          <input type="submit" id="sunsetwx" value="">
        </form>
      </div>
      <div class="card">
        <form action="/data/darksky" method="get">
          <input type="submit" id="darksky" value="">
        </form>
      </div>
      <div class="card">
        <form action="/data/weatherunderground" method="get">
          <input type="submit" id="weatherunderground" value="">
        </form>
      </div>
      <div class="card">
        <form action="/data/sunsettime" method="get">
          <input type="submit" id="sunset" value="">
        </form>
      </div>
      <div class="card">
        <form action="/data/airnow" method="get">
          <input type="submit" id="aqi" value="">
        </form>
      </div>
      <div class="card">
        <form action="/data/forecastgov" method="get">
          <input id="noaa" type="submit" value="">
        </form>
      </div>
      <div class="card">
        <form action="/data/aeris" method="get">
          <input id="aeris" type="submit" value="">
        </form>
      </div>
    </div>
  </body>
</html>
