<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <img src="<%= apodData.url %>" alt="apod Image" />
    <img src="http://epic.gsfc.nasa.gov/epic-archive/natural/png/<%= epicData[0].image %>.png" alt="Epic URL. Only change after /png/str.png" />

    <script src="./scripts/scripts.js" charset="utf-8"></script>
  </body>
</html>
