<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>

    <script src="./scripts/scripts.js" charset="utf-8"></script>
  </body>
</html>
