<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sunset Watcher</title>
    <link rel="icon" href="/images/favicon.ico" media="screen" title="no title">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/root.css">
  </head>
  <body>
    <div id="container">
      <img src="<%= bgImage.urls.full %>" alt="" />
      <header>
        <h1>Welcome to Sunset Watcher</h1>
        <h3>This is an application that aggregates weather information from several sources to generate the likelihood of a beautiful sunset</h3>
        <h4>&nbsp - This application is being improved daily </h4>
        <h4>&nbsp - Current Focus: </h4>
        <h5> - Layout and Styling </h5>
        <h5> - How information is presented to the user </h5>
        <nav>
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
        </nav>
      </header>
    </div>
  </body>
</html>
