body{
  position: relative;
  display: block;
  /*background-color: #b1bcc3;*/
}
div#data-buttons{
  width: 100vw;
  height: 25vh;
  position: absolute;
  top: 80vh;
  display: flex;
  flex-flow: row wrap;
}
div.card{
  /*background-color: rgb(245,245,245);*/
  box-shadow: 0 8px 16px 0 rgba(125,125,125,0.2);
  transition: 0.3s;
  width: 10vw;
  height: 15vh;
  margin: 1vw;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
form{
  /*position: ;*/
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
img{
  position: relative;
}
input[type=submit]{
  position: relative;
  border: solid 0px #000;
}
input[type=submit]#openweather{
  background-image: url("/images/openweather.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
input[type=submit]#sunsetwx{
  background-image: url("/images/sunsetwx.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
input[type=submit]#darksky{
  background-image: url("/images/darksky.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
input[type=submit]#weatherunderground{
  background-image: url("/images/weatherunderground.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
input[type=submit]#sunset{
  background-image: url("/images/sunset.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
input[type=submit]#aqi{
  background-image: url("/images/aqi.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
input[type=submit]#noaa{
  background-image: url("/images/noaa.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
input[type=submit]#aeris{
  background-image: url("/images/aeris.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
div#results{
  width: 50vw;
  height: 25vh;
  background-color: rgb(250,250,250);
  position: relative;

  outline: 1px solid rgb(231,231,231);
}
img#icon-chance {
  margin-left: 30vw;
  width: 40%;
  height: 100%;
}
form#home-form{
  left: -2vw;
  top: 50%;
  position: absolute;
  margin: 2vw;
}
input[type=submit]#home-button{
  background-color: #ac420d;
  color: white;
  font-size: 18px;

  border-radius: .1rem;
  padding: 2vh 1vw;
  margin: 1vw;
  box-shadow: 0 4px 4px 0 #222;
}
p#percent-chance{
  left: 0;
  top: 0;
  position: absolute;
  margin: 1vw;

  background-color: #ac420d;
  color: white;
  font-size: 18px;

  border-radius: .1rem;
  padding: 2vh 1vw;
  box-shadow: 0 4px 4px 0 #222;
}
