/* Color Scheme
* #1a1913 - Black
* #503815 - Dark Olive
* #ac420d - Deep Orange
* #ff8105 - Light Orange
* #b1bcc3 - Grey blue
*/
body{
  position: relative;
  background-color: rgb(242,	242,	242);
}
div#container {
  background: no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
img{
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}
header{
  position: relative;
  color: #b1bcc3;
  text-shadow: 0 1px 1px #222;
  margin: 5vw;
  margin-top: -100vh;
}
nav{
  background-color: rgba(80, 56, 21,.4);
  padding: 5vh 5vh;
  margin-top: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a{
  background-color: #ac420d;
  color: white;
  text-decoration: none;

  border-radius: .1rem;
  padding: 4vh 2vw;
  margin: 2vw;
  box-shadow: 3px 3px 5px #222;
}
a:hover{
  box-shadow: 4px 4px 5px #222;
}
a:active{
  box-shadow: 3px 3px 5px #222;
}
