<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profile.css" media="screen" title="no title">
  </head>
  <body>
    <h1>Hey, <%= user.username %> this is your profile page</h1>
    <a href="/data">Current prediction</a> <br>
    <p id="label">
      Past Results
    </p>
    <div id="results">
      <% for (let i = 0; i < entries.length; i++ ) { %>
        <div class="card">
          <img class="weather-icon" src="../<%= entries[i].imgSrc %>" alt="" />
          <div class="container">
            <p><%= entries[i].chanceInnerHTML %></p>
            <form action="/data/removeData/<%= entries[i]._id %>?_method=DELETE" method="post">
              <input type="submit" value="Delete">
            </form>
          </div>
        </div>
      <% }; %>
    </div>
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>
  </body>
</html>
